* {
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titlerow{
    display: flex;
    background-color: rgb(73, 73, 73);
    font-weight: bolder;
    color: gold;
    height: 50px;
    width: 500px;
    justify-content: space-around;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: row;
    color: black;
    border-top: 2px solid lightgrey;
    height: 50px;
    width: 500px;
    justify-content: space-around;
    align-items: center;
}