<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css")}}">
    <title>Tabla HTML</title>
</head>
<body>
    
    <div class="container">
        <div class="titlerow">
            <div> First Name </div>
            <div> Last Name </div>
            <div> Full Name </div>
        </div>
        {% for users in users %}
            <div class="row" style="background-color: white;" onmouseover="mouseover(this, 'rgb(190, 190, 190)')" onmouseleave="mouseleave(this, 'white')">
                <div> {{ users['first_name'] }} </div>
                <div> {{ users['last_name'] }} </div>
                <div> {{ users['first_name'] }} {{users['last_name']}} </div>
            </div>
        {% endfor %}
    </div>


    <script type="text/javascript" src="{{ url_for("static", filename="script.js")}}"></script>
</body>
</html>